html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 2em;
    font-weight: 800;
}

.text::after {
    content: "";
    padding: .5em;
    border-radius: 12px;
    background: rgb(22, 197, 255);
    color: white;
    animation: swap 5s linear infinite;
}

@keyframes swap {
    0% {
        content: "sleeping";
    }

    25% {
        content: "eating";
    }

    50% {
        content: "coding";
    }

    75% {
        content: "me";
    }

    100% {
        content: "sleeping";
    }
}